{% extends 'layout.html' %}

<!--  -->
{% block body %}
<main>
    <div class="container my-3">
        <div class="d-flex">
            <h1>All Students</h1>

            <span class="align-self-center ms-3">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                    data-bs-target="#addExamModal">
                    Add new Student
                </button>
            </span>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addExamModal" tabindex="-1" aria-labelledby="addExamModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- MODAL HADER -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExamModalLabel">
                            Add new subject
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="" method="POST">
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.student_name(
                                    class="form-control",
                                    placeholder="Student Name"
                                ) }}
                            </div>

                            <div class="mb-3">
                                {{ form.student_roll(
                                    class="form-control",
                                    placeholder="Student Roll"
                                ) }}
                            </div>

                            <div class="mb-3">
                                {{ form.student_class(
                                    class="form-select"
                                ) }}
                            </div>
                        </div>

                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button>

                            {{ form.submit(class="btn btn-sm btn-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table__container mt-5">
            <h2>Available exam</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Roll</th>
                        <th scope="col">Class</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-capitalize">{{ student.name }}</td>
                        <td>{{ student.roll }}</td>
                        <td class="text-uppercase">{{ student.classname }}</td>
                        <td>
                            <form action="{{ url_for('student.student_delete', student_id=student.id) }}" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}