{% extends 'layout.html' %}

<!--  -->
{% block body %}

<main>
      <div class="container my-3">
        <div class="d-flex">
            <h1>Exam Center - Student Result</h1>

            <span class="align-self-center ms-3">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#addExamModal"
                >
                    Add new result
                </button>
            </span>
        </div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="addExamModal"
            tabindex="-1"
            aria-labelledby="addExamModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- MODAL HADER -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExamModalLabel">
                            Add Result
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>

                    <!-- PAST HERE -->
                    <!-- new demo -->
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <!-- MODAL BODY -->
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12"> 
                            {% if form.student_name.errors %}
                                {{ form.student_name(
                                    class="form-control is-invalid",
                                    placeholder="Student Name"
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.student_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.student_name(
                                    class="form-control",
                                    placeholder="Student Name"
                                ) }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            {% if form.exam.errors %}
                                {{ form.exam(
                                    class="form-select is-invalid",
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.exam.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.exam(
                                    class="form-select"
                                ) }}
                            {% endif %}
                        </div>

                        <div class="col-sm-4">
                            {% if form.student_class.errors %}
                                {{ form.student_class(
                                    class="form-control is-invalid",
                                    placeholder="Class"
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.student_class.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.student_class(
                                    class="form-control", 
                                    placeholder="Class"
                                ) }}
                            {% endif %}  
                        </div>

                        <div class="col-sm-4">
                            {% if form.student_roll.errors %}
                                {{ form.student_roll(
                                    class="form-control is-invalid",
                                    placeholder="Roll"
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.student_roll.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.student_roll(
                                    class="form-control",
                                    placeholder="Roll"
                                ) }}
                            {% endif %}  
                        </div>
                    </div>

                    {% for subject in range(totalsubject) %}
                    <div class="row mb-3 exam__container">
                        <div class="col-md-5">
                            {% if form.exam_subject_name.errors %}
                                {{ form.exam_subject_name(
                                    class="form-select text-uppercase exam__subject is-invalid"
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.exam_subject_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.exam_subject_name(
                                    class="form-select text-uppercase exam__subject"
                                ) }}
                            {% endif %} 
                            
                        </div>

                        <div class="col-md-2">
                            {% if form.achive_mark.errors %}
                                {{ form.achive_mark(
                                    class="form-control full__marks is-invalid",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.achive_mark.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.achive_mark(
                                    class="form-control full__marks",
                                    readonly=""
                                ) }}
                            {% endif %} 
                        </div>

                        <div class="col-md-2">
                            {% if form.full_marks.errors %}
                                {{ form.full_marks(
                                    class="form-control achive__marks is-invalid",
                                    placeholder="Mark"
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.full_marks.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.full_marks(
                                    class="form-control achive__marks",
                                    placeholder="Mark"
                                ) }}
                            {% endif %} 
                        </div>

                        <div class="col-md-3">
                            {% if form.grade.errors %}
                                {{ form.grade(
                                    class="form-control achive_gpa is-invalid",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.grade.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.grade(
                                    class="form-control achive_gpa",
                                    readonly=""
                                ) }}
                            {% endif %} 
                        </div>
                    </div>
                    {% endfor %}
                
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <label for="totalmarks" class="fs-4">
                                Total
                            </label>
                        </div>

                        <div class="col-md-2">
                            {% if form.total_marks.errors %}
                                {{ form.total_marks(
                                    id="totalmarks",
                                    class="form-control form-control-lg is-invalid",
                                    placeholder="00",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.total_marks.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.total_marks(
                                    id="totalmarks",
                                    class="form-control form-control-lg",
                                    placeholder="00",
                                    readonly=""
                                ) }}
                            {% endif %} 
                            
                        </div>

                        <div class="col-md-2">
                            {% if form.total_achive_mark.errors %}
                                {{ form.total_achive_mark(
                                    id="totalachivemarks",
                                    class="form-control form-control-lg is-invalid",
                                    value="00",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.total_achive_mark.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.total_achive_mark(
                                    id="totalachivemarks",
                                    class="form-control form-control-lg",
                                    value="00",
                                    readonly=""
                                ) }}
                            {% endif %} 
                            
                        </div>

                        <div class="col-md-3">
                            {% if form.total_achive_grade.errors %}
                                {{ form.total_achive_grade(
                                    id="totalgrade",
                                    class="form-control form-control-lg is-invalid",
                                    value="0.00",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.total_achive_grade.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.total_achive_grade(
                                    id="totalgrade",
                                    class="form-control form-control-lg",
                                    value="0.00",
                                    readonly=""
                                ) }}
                            {% endif %} 
                            
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form.result_note.label(class="fs-5") }}
                            
                            {% if form.result_note.errors %}
                                {{ form.result_note(
                                    id="totalgrade",
                                    class="form-control form-control-lg is-invalid",
                                    value="0.00",
                                    readonly=""
                                ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.result_note.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.result_note(
                                    class="form-control",
                                    rows="3"
                                ) }}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>

                <!-- MODAL FOOTER -->
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>

                    <button type="button" id="calculate" class="btn btn-sm btn-warning">Calculate</button>

                    {{ form.submit(class="btn btn-sm btn-dark") }}
                </div>
            </form>
                </div>
            </div>
        </div>

        <div class="table__container mt-5">
            <h2>Available exam</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            Student Name
                        </th>
                        <th scope="col">Full Marks</th>
                        <th scope="col">Total Marks</th>
                        <th scope="col">G.P.A</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>
                            <button
                                data-bs-toggle="modal"
                                data-bs-target="#addExamModal" 
                                class="btn btn-sm btn-dark"
                            >
                                Details
                            </button>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>



            
        </div>
    </div>
</main>


<script>
// calculate the grade
const calcGRADE = (grades) => {
    if (grades == 5) {
        return "A+";
    } else if (grades >= 4 && grades < 5) {
        return "A";
    } else if (grades >= 3.5 && grades < 4) {
        return "A-";
    } else if (grades >= 3 && grades < 3.5) {
        return "B";
    } else if (grades >= 2 && grades < 3) {
        return "C";
    } else if (grades >= 1 && grades < 2) {
        return "D";
    } else {
        return "F";
    }
};

// CALCULATE GPA - 100
const gpaCalc = (number) => {
    if (number > 79) {
        return 5.0;
    } else if (number > 69 && number < 80) {
        return 4.0;
    } else if (number > 59 && number < 70) {
        return 3.5;
    } else if (number > 49 && number < 60) {
        return 3.0;
    } else if (number > 39 && number < 50) {
        return 2.0;
    } else if (number >= 32 && number < 40) {
        return 1.0;
    } else if (number >= 0 && number < 32) {
        return 0;
    } else {
        alert(
            "Please check the number again. something went wrong!"
        );
    }
}


// for 50 marks
const gpaClC50 = (number) => {
    if (number >= 40 && number <= 50) {
        return 5.0;
    } else if (number >= 36 && number <= 39) {
        return 4.0;
    } else if (number >= 30 && number <= 35) {
        return 3.5;
    } else if (number >= 25 && number <= 29) {
        return 3.0;
    } else if (number >= 20 && number <= 24) {
        return 2.0;
    } else if (number >= 16 && number <= 19) {
        return 1.0;
    } else if (number >= 0 && number <= 15) {
        return 0;
    } 
};


// CALCULATE GPA - 100
const gpaCalc25 = (number) => {
    if (number >= 20 && number <= 25) {
        return 5.0;
    } else if (number >= 18 && number < 20) {
        return 4.0;
    } else if (number >= 15 && number < 18) {
        return 3.5;
    } else if (number >= 13 && number < 15) {
        return 3.0;
    } else if (number >= 10 && number < 13) {
        return 2.0;
    } else if (number >= 8 && number < 10) {
        return 1.0;
    } else if (number == 0 || number < 8) {
        return 0;
    } else {
        alert(
            "Please check the number again. something went wrong!"
        );
    }
}


let totalmarks = 0; 
let gpa;
let grade;
const allgpa = [];
const allAchiveMarks = [];
const allFullMarks = document.querySelectorAll('.full__marks');
const achiveTotalMarks = document.querySelectorAll('.achive_total__marks');
let totalMark = document.querySelector('#totalmarks');
let totalAchivemark = document.querySelector('#totalachivemarks');
let totalAchiveGrade = document.querySelector('#totalgrade');
let calculate = document.querySelector('#calculate');

// FETCH DATA OF SUBJECT 
let exam__container = document.querySelectorAll('.exam__container');

const each_container = (element) => {
    let current_fullmarks = element.querySelector('.full__marks');
    let current_achive_gpa = element.querySelector('.achive_gpa');
    let current_achive_mark = element.querySelector('.achive__marks'); 

    if (current_fullmarks.value!=false){

        // CHECKING IF THE FULL MARK OF THAT SUBJECT IS 50 OR 100 
        // SO THAT WE CAN USE DIFFERENT GPA MODEL FOR THEM
        if(current_fullmarks.value == 50) {
            
            if (current_achive_mark.value!=false) {
                gpa = gpaClC50(parseFloat(current_achive_mark.value));
                grade = calcGRADE(gpa);
                allAchiveMarks.push(parseFloat(current_achive_mark.value));
                allgpa.push(gpa);
                current_achive_gpa.value = `${grade} (${gpa})`;
            }

        } else if (current_fullmarks.value == 100) {
           
            if (current_achive_mark.value!=false) {
                gpa = gpaCalc(parseFloat(current_achive_mark.value));
                grade = calcGRADE(gpa);
                allAchiveMarks.push(parseFloat(current_achive_mark.value))
                allgpa.push(gpa);
                current_achive_gpa.value = `${grade} (${gpa})`;
            }
    
        } else if (current_fullmarks.value == 25) {
            
            console.log(`Current Full Marks =  ${current_fullmarks.value}`)

            if (current_achive_mark.value!=false) {
                gpa = gpaCalc25(parseFloat(current_achive_mark.value));
                
                console.log(`Current GPA = ${gpa}`)
            
                grade = calcGRADE(gpa);
                allAchiveMarks.push(parseFloat(current_achive_mark.value))
                allgpa.push(gpa);
                current_achive_gpa.value = `${grade} (${gpa})`;
            }
        } else alert('something went wrong with gpa calculate system. reload the page and reenter the marks');
        
        totalmarks = totalmarks + parseFloat(current_fullmarks.value);
    }

    totalMark.value = totalmarks;
    totalAchivemark.value = allAchiveMarks.reduce((total, amount) => total + amount);  // ADDITION OF ALL VALUE OF TOTAL ACHIVE MARK
    console.log(`all achive marks = ${allAchiveMarks}`)
    let final_achive_gpa = allgpa.reduce((sum, j) => sum + j) / allgpa.length;
    let final_grade = calcGRADE(final_achive_gpa)
    totalAchiveGrade.value = `${final_grade} (${final_achive_gpa})`;

}

exam__container.forEach(element => {
    let current_state = element.querySelector('.exam__subject');
    let current_fullmarks = element.querySelector('.full__marks');
    let current_achive_gpa = element.querySelector('.achive_gpa');
    let current_achive_mark = element.querySelector('.achive__marks'); 

    current_state.addEventListener('change', () => {
        subject = current_state.value;

        fetch('/exam/subject/marks/'+subject)
        .then(response => {
            response.json()
            .then(data => {
                fullmarks = data.subjects[0].full_marks; 
                current_fullmarks.value = fullmarks;
                
            });
        });
    });

    calculate.addEventListener('click',() => {
        if (current_achive_mark == false) {
            current_achive_gpa.value = '0'
        } else each_container(element);
    });
});
</script>
{% endblock %}