{% extends 'layout.html' %}

<!--  -->
{% block body %}

<main>
      <div class="container my-3">
        <div class="d-flex">
            <h1>Exam Center - Student Result</h1>

            <span class="align-self-center ms-3">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#addExamModal"
                >
                    Add new result
                </button>
            </span>
        </div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="addExamModal"
            tabindex="-1"
            aria-labelledby="addExamModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- MODAL HADER -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExamModalLabel">
                            Add Result
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>

                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-12">  
                                    {{ form.student_name(
                                        class="form-control",
                                        placeholder="Student Name"
                                    ) }} 
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    {{ form.exam(
                                        class="form-select"
                                    ) }}
                                </div>

                                <div class="col-sm-4">
                                    {{ form.student_class(
                                        class="form-control", 
                                        placeholder="Class"
                                    ) }}
                                </div>

                                <div class="col-sm-4">
                                    {{ form.student_roll(
                                        class="form-control",
                                        placeholder="Roll"
                                    ) }}
                                </div>
                            </div>

                            {% for subject in range(totalsubject) %}
                            <div class="row mb-3 exam__container">
                                <div class="col-md-5">
                                    {{ form.exam_subject_name(
                                        class="form-select text-uppercase exam__subject"
                                    ) }}
                                </div>

                                <div class="col-md-2">
                                    {{ form.subject_total_marks(
                                        class="form-control full__marks",
                                        readonly="",
                                        disabled=""
                                    ) }}
                                </div>

                                <div class="col-md-2">
                                    {{ form.full_marks(
                                        class="form-control achive_total__marks",
                                        placeholder="Mark"
                                    ) }}
                                </div>

                                <div class="col-md-3">
                                    {{ form.grade(
                                        class="form-control achive_gpa",
                                        readonly="",
                                        disabled=""
                                    ) }}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="row mb-3">
                                <div class="col-md-5">
                                    <label for="totalmarks" class="fs-4">
                                        Total
                                    </label>
                                </div>

                                <div class="col-md-2">
                                    <input 
                                        type="text"
                                        class="form-control form-control-lg"
                                        id="totalmarks"
                                        placeholder="00"
                                        disabled readonly
                                    />
                                </div>

                                <div class="col-md-2">
                                    {{ form.subject_total_marks(
                                        id="totalachivemarks",
                                        class="form-control form-control-lg",
                                        value="00",
                                        readonly="",
                                        disabled=""
                                    ) }}
                                </div>

                                <div class="col-md-3">
                                    {{ form.total_grade(
                                        id="totalgrade",
                                        class="form-control form-control-lg",
                                        value="0.00",
                                        readonly="",
                                        disabled=""
                                    ) }}
                                </div>

                                
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="fs-5"> Result Note </label>
                                    <textarea 
                                        name="resultnote"
                                        class="form-control" 
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>

                            <button type="button" id="calculate" class="btn btn-sm btn-warning">Calculate</button>

                            <button type="submit" class="btn btn-sm btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table__container mt-5">
            <h2>Available exam</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            Student Name
                        </th>
                        <th scope="col">Full Marks</th>
                        <th scope="col">Total Marks</th>
                        <th scope="col">G.P.A</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>Lorem ipsum </td>
                        <td>
                            <button
                                data-bs-toggle="modal"
                                data-bs-target="#addExamModal" 
                                class="btn btn-sm btn-dark"
                            >
                                Details
                            </button>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</main>


<script>
// CALCULATE GPA - 100
const gpaCalc = (number) => {
    if (number > 79) {
        return 5.0;
    } else if (number > 69 && number < 80) {
        return 4.0;
    } else if (number > 59 && number < 70) {
        return 3.5;
    } else if (number > 49 && number < 60) {
        return 3.0;
    } else if (number > 39 && number < 50) {
        return 2.0;
    } else if (number >= 32 && number < 40) {
        return 1.0;
    } else if (number >= 0 && number < 32) {
        return 0;
    } else {
        alert(
            "Please check the number again. something went wrong!"
        );
    }
}


// for 50 marks
const gpaClC50 = (number) => {
    if (number >= 40 && number <= 50) {
        return 5.0;
    } else if (number >= 36 && number <= 39) {
        return 4.0;
    } else if (number >= 30 && number <= 35) {
        return 3.5;
    } else if (number >= 25 && number <= 29) {
        return 3.0;
    } else if (number >= 20 && number <= 24) {
        return 2.0;
    } else if (number >= 16 && number <= 19) {
        return 1.0;
    } else if (number >= 0 && number <= 15) {
        return 0;
    } 
    
    // else {
    //     alert(
    //         "Please check the number again. something went wrong!"
    //     );
    // }
};

let gpa;
let totalmarks = 0; 
let totalAchiveMarks = 0;
const allFullMarks = document.querySelectorAll('.full__marks');
const achiveTotalMarks = document.querySelectorAll('.achive_total__marks');
let totalMarkEl = document.querySelector('#totalmarks');
let totalAchivemarkEl = document.querySelector('#totalachivemarks');
let totalAchiveGradeEl = document.querySelector('#totalgrade');
let calculate = document.querySelector('#calculate');

calculate.addEventListener('click', () => {
    
    // reset the total marks, otherwise it will add previouse number that we added
    totalmarks=0; 
    totalAchiveMarks = 0;
    
    allFullMarks.forEach(mark => {
        if (mark.value!=false){

            if(mark.value == '50') {
                achiveTotalMarks.forEach(achivemark => {
                    if (achivemark.value!=false) {
                        gpa = gpaClC50(achivemark.value);
                        totalAchiveGradeEl.vlaue = gpa;
                    }
                });
            } else if (mark.value == '100') {
                achiveTotalMarks.forEach(achivemark => {
                    if (achivemark.value!=false) {
                        gpa = gpaCalc(achivemark.value);
                        totalAchiveGradeEl.vlaue = gpa;
                    }
                });
            }

            totalmarks = totalmarks + parseFloat(mark.value);
        } 
    });

    achiveTotalMarks.forEach(achivemark => {
        if (achivemark.value!=false){
            totalAchiveMarks = totalAchiveMarks + parseFloat(achivemark.value);
        } 
    });

    totalMarkEl.value = totalmarks;
    totalAchivemarkEl.value = totalAchiveMarks;
});



// FETCH DATA OF SUBJECT 
let exam__container = document.querySelectorAll('.exam__container');

exam__container.forEach(element => {
    let current_state = element.querySelector('.exam__subject');
    let current_fullmarks = element.querySelector('.full__marks');
    let current_gpa = element.querySelector('.achive_gpa');
    
    current_gpa.value = gpa;

    current_state.addEventListener('change', () => {
        subject = current_state.value;

        fetch('/exam/subject/marks/'+subject)
        .then(response => {
            response.json()
            .then(data => {
                fullmarks = data.subjects[0].full_marks; 
                current_fullmarks.value = fullmarks;
                
            });
        });
    });
});

</script>
{% endblock %}