{% extends 'layout.html' %}

<!--  -->
{% block body %}
<main>
    <div class="container my-3">
        <div class="d-flex">
            <h1>Exam Center - Subject</h1>

            <span class="align-self-center ms-3">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#addExamModal"
                >
                    Add new Subject
                </button>
            </span>
        </div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="addExamModal"
            tabindex="-1"
            aria-labelledby="addExamModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- MODAL HADER -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExamModalLabel">
                            Add new subject
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>

                    <form action="" method="POST">
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.exam_subject_name(
                                    class="form-control",
                                    placeholder="Exam Subject"
                                ) }}
                            </div>

                            <div class="mb-3">
                                {{ form.full_marks(
                                    class="form-control",
                                    placeholder="Full Marks"
                                ) }}
                            </div>

                            <div class="mb-3">
                                {{ form.pass_marks(
                                    class="form-control",
                                    placeholder="Pass Marks"
                                ) }}
                            </div>

                            <div class="mb-3">
                                {{ form.exam(
                                    class="form-select"
                                ) }}
                            </div>
                        </div>

                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>

                            {{ form.submit(class="btn btn-sm btn-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table__container mt-5">
            <h2>Available exam</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Exam Subject</th>
                        <th scope="col">Full Marks</th>
                        <th scope="col">Pass Marks</th>
                        <th scope="col">Exam Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam in exam_subject %}
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-capitalize">{{ exam.subject }}</td>
                        <td>{{ exam.full_marks }}</td>
                        <td>{{ exam.pass_marks }}</td>
                        <td>{{ exam.exam_name.exam_name }}</td>
                        <td>
                            <form action="{{ url_for('exam.exam_subject_delete', exam_id=exam.id) }}" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}
