{% extends 'layouts/base.html' %}

{% block body %}
		<div class="container">
			<h2 class="mt-5">Login As Institute</h2>
			<form method="POST" action="{{ url_for('auth.institute_login') }}" novalidate>
				{{ form.hidden_tag() }}
			
				<div class="mb-3">
					{{ form.email.label(class="form-label") }}
					{% if form.email.errors %}
						{{ form.email(class="form-control is-invalid", placeholder="Enter email") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control", placeholder="Enter email") }}
					{% endif %}
				</div>
			
				<div class="mb-3">
					{{ form.password.label(class="form-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control is-invalid", placeholder="Enter password") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control", placeholder="Enter password") }}
					{% endif %}
				</div>
			
				<div class="mb-3">
					{{ form.submit(class="btn btn-primary") }}
				</div>
			</form>
			<p>Don't have an account? <a href="#">Register here</a></p>
		</div>
{% endblock body %}