/* ========================================================================== #
#                           Junior School and College
#                    A School Management System with FLASK
#   
#       Create by some intelligent programmer
#       Full CRUD facility
#   
#       Github: https://github.com/hacker-tesla/Junior_School_and_College
# ========================================================================== */



* {
    margin: 0;
    padding: 0;
}

:root {
    --deep_blue: #365374;
    --light_blue: #58b792;

    --shadow_whiteOverLightblue: 0 3px 6px rgba(0, 0, 0, 0.35); 
    --shadow_low_whiteOverLightblue: 0 1px 4px rgba(0, 0, 0, 0.4); 
    --form_textbox_shadow: 0 0 0 0.2rem #17a3b87c;
    --form_textbox_buttongreen_shadow: 0 0 0 0.2rem #28a74681;
    --form_textbox_buttonblue_shadow: 0 0 0 0.2rem #17a3b87c;
    --form_full_outer_shadow: 0 0 2.5rem 0.2rem #ced4da;    
    

    --form_label_size: 1.3rem;
    --form_label_color: #555555;

    --form_textbox_size: 1rem;
    --from_textbox_color: #495057;
    --form_textbox_border_color: #ced4da;
    --from_textbox_border_focus: 0 0 0 0.2rem #007bff40;
    --form_textbox_background: #ffffff73;
    --form_outer_shadow_color: #f2f2f2; 

    --button_green: #28a745;
    --button_blue: #17a2b8;
}

::placeholder {
    color: var(--deep_blue, #365374);
    text-transform: capitalize; 
}

html {
    background: var(--form_outer_shadow_color);
}

/*--- back button ---*/
/* .back {
    margin: 1rem;
}

.back .button {
    border: transparent;
    border-radius: 0.266rem;
    padding: 0.7rem 3rem;
    letter-spacing: 1px;

    font-size: 1rem;
    font-weight: 1000;
    
    color: #fff;
    background: var(--deep_blue);
}

.back .button:hover,
.back .button:focus {
    cursor: pointer;
    filter: brightness(90%);
} */

/* ==================== main section ==================== */

main {
    height: 100vh;
}

/* ==================== end of main ==================== */



/* ==================== header section ==================== */
header {
    margin-top: 2%;
    text-align: center;
    color: #000;
}

header .school_name {
    font-size: 3rem;
    font-family: kanit;
}

header .school_address {
    font-size: 1.2rem;
}


/* ==================== form section ==================== */
section {
    height: auto;
    width: 45%;
    margin: auto;
    margin-top: 3%;
    /* padding: 2%; */ 
    background: #fff;
    box-shadow: var(--form_full_outer_shadow);
}

.title {
    padding-top: 2rem;
    text-align: center;
    font-family: acme;
    margin-bottom: 1rem; 
    color: var(--deep_blue, #365374);
    font-size: 2.5rem;
}

section form {
    margin: 0 2rem 0 2rem;
    padding-bottom: 2rem;
}

.form_input {   
    padding-bottom: 2%;
    margin-right: 1.8rem;
    margin-bottom: 0.5rem;
}

.form_label {
    color: var(--form_label_color);

    font-size: var(--form_label_size);
    font-weight: 400;
}

.form_textbox {
    width: 100%;
    color: var(--from_textbox_color);
    padding: 0.5rem 0.9rem;
    margin-top: 0.5rem;
    margin-right: 10rem;
    text-transform: lowercase;
    letter-spacing: 1px;

    border: 1.5px solid var(--form_textbox_border_color);
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 500;
    
    transition: border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;
}

.form_textbox:focus {
    color: var(--from_textbox_color);
    background-color: #fff;
    /* border-color: var(--from_textbox_border_focus); */
    outline: 0;
    box-shadow: var(--from_textbox_border_focus);
}

.input_title {
    font-size: 2rem;
    font-family: acme;
    font-weight: 700;
    /* letter-spacing: 2px; */
    word-spacing: 1rem;
    /* text-shadow: var(--shadow_whiteOverLightblue);
    color: var(--deep_blue); */
}

/*--- flex froget password ---*/
.flex_forgetpass {
    display: flex;
    justify-content: space-between;
}

.forget_pass a {
    font-size: 0.8rem;
    color: var(--form_label_color);
    margin-left: 3rem;
    text-decoration: none;
}

.forget_pass a:hover,
.forget_pass a:focus {
    text-decoration: underline;
    color: var(--button_blue);
}


/*--- form checkbox ---*/
.form_checkbox {
    margin-right: 0.7rem;
}


/*--- form buttons ---*/
.flex_buttons {
    display: flex;
    justify-content: space-between;
}

.submit_button {
    border: transparent;
    /* padding: 0.8rem 5rem; */
    padding: 0.5rem 1.5rem;
    color: #fff;
    font-weight: 1000;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    transition: all ease-in-out 0.5s;
}

.create {
    border: 1px solid var(--button_green);
    background: #fff;
    color: var(--button_green);
}

.create:hover,
.create:focus {
    background: var(--button_green);
    color: #fff;
    box-shadow: var(--form_textbox_buttongreen_shadow);
}

.login {
    background: var(--button_blue);
    border: 1px solid var(--button_blue);
}

.login:hover,
.login:focus {
    background: #fff;
    color: var(--button_blue);
    border-color: var(--button_blue);
    box-shadow: var(--form_textbox_buttonblue_shadow);
}



/*=============== addtional login div =============*/

.addtional_login {
    width: 45%;
    margin: auto;
}

.addtional_login .parents_login {
    text-align: left;
    margin: 0;
}

.addtional_login p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 700;
}

.addtional_login a {
    text-decoration: none;
    color: var(--light_blue);
}

.addtional_login a:hover,
.addtional_login a:focus {
    text-decoration: underline;
}

/*=============== end of div =============*/









/*=============== invalid form secton =============*/

/*----- if form is invalid -----*/
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.form_textbox .is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}