{% extends 'layout.html' %}





{% block help_developer %}
 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
	# This Section help you to find 
	  specific section. 

	0: head
		0.0: styles
		0.1: fonts

	1: body
		1.0: main
			1.0.0: Background image section
				1.0.0.0: Navigation men
				
			1.0.1: All content
				1.0.1.0: Main speech
				1.0.1.1: Principal section

	3: Footer section
		3.0: Using flexbox for three column
			3.0.0: Contact
			3.0.1: Quick link
			3.0.2: Follow us
			
		3.1: copyright and other important thing

 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

{% endblock %}




{% block additional_link %}
	<link rel="stylesheet" href=" {{  url_for('static', filename='about-us/about.css')  }} ">
{% endblock %}






{% block body %}
<header>

	<!-- 1.0.0: background image section -->
	<div class="background-image">

		<!-- 1.0.0.0: Navigation menu -->
		{% include 'plugin/_navigationMenu.html' %}
	
		<h2>ABOUT US</h2>
		
	</div>

</header>




<main>

	<!-- 1.0.1: all content -->
	<div class="all-content">
		
		<!-- 1.0.1.0: Main speech -->
		<div class="main-speech">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.

				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.

				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Similique, error? Ratione, dolor eaque laborum earum quisquam molestias 
				quasi facilis veniam excepturi, doloribus error dolore magni aliquam
				ad vero blanditiis enim.
			</p>
		</div>


		<!-- 1.0.1.1: principal section -->
		<div class="principal-section">
			<div class="principal-image">
				<img 
					class="principal-img" 
					src=" {{  url_for('static', filename='home/principal.jpg')  }} "
					alt="Iqra Junior School School principal" />
			</div>

			<div class="principal-speech">
				<h3>
					<i class="fa fa-star-o"></i>
					Meet Our Star
					<i class="fa fa-star-o"></i>
				</h3>
				
				<h1>MEET OUR RECTOR</h1>
				
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make
					a type specimen book. It has survived not only five centuries, but also 
					the leap into electronic typesetting, remaining essentially unchanged.
				</p>
				
				<br/>
				
				<p>
					It is a long established fact that a reader will be distracted by
					the readable content of a page when looking at its layout
				</p>
				
				<h3 class="principal-name">
					Hossain Ahmed, M.D, P.C
				</h3>
				
				<button>Read More</button>
			</div>
		</div>


		<div class="principal-section">
			<div class="principal-image">
				<img 
					class="principal-img" 
					src=" {{  url_for('static', filename='home/principal.jpg')  }} "
					alt="Iqra Junior School School principal" />
			</div>

			<div class="principal-speech">
				<h3>
					<i class="fa fa-star-o"></i>
					Meet Our Star
					<i class="fa fa-star-o"></i>
				</h3>
			
				<h1>MEET OUR PRINCIPAL</h1>
			
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make
					a type specimen book. It has survived not only five centuries, but also 
					the leap into electronic typesetting, remaining essentially unchanged.
				</p>
			
				<br/>
			
				<p>
					It is a long established fact that a reader will be distracted by
					the readable content of a page when looking at its layout
				</p>
			
				<h3 class="principal-name">
					Mamunur Rashid, M.D, P.C
				</h3>
			
				<button>Read More</button>
			</div>
		</div>

	</div>

	
</main>

{% endblock %}