{% extends 'layout.html' %}



{% block additional_title %}
    Admission -
{% endblock %}

{% block body %}

    <main class="bg_gray pt-5 pb-5">

        <h1 class="h1 text-center mb-5"> Admission Form - 2020 </h1>

        <section class="d-flex justify-content-center">

            <form action="" method="POST" class="form-large" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="row">
                    <!-- unique id -->
                    <div class="col-sm-6">
                        {{ form.unique_id.label(class="form-label") }}

                        {% if form.unique_id.errors %}
                            {{ form.unique_id( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.unique_id.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.unique_id(
                                class="form-control",
                                placeholder="Unique ID"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- roll id -->
                    <div class="col-sm-6">
                        {{ form.roll_id.label(class="form-label") }}

                        {% if form.roll_id.errors %}
                            {{ form.roll_id( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.roll_id.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.roll_id(
                                class="form-control",
                                placeholder="Unique ID"
                            ) }}
                        {% endif %}
                    </div>
                </div>

                <div class="row pt-2">

                    <!-- father name -->
                    <div class="col-sm-6">
                        {{ form.firstname.label(class="form-label") }}

                        {% if form.firstname.errors %}
                            {{ form.firstname( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.firstname(
                                class="form-control",
                                placeholder="First name"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- last name -->
                    <div class="col-sm-6">
                        {{ form.lastname.label(class="form-label") }}

                        {% if form.lastname.errors %}
                            {{ form.lastname( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.lastname(
                                class="form-control",
                                placeholder="Lastname"
                            ) }}
                        {% endif %}
                    </div>
                </div>


                <div class="row mt-2">

                    <!-- father name -->
                    <div class="col-sm-6">
                        {{ form.father_name.label(class="form-label") }}

                        {% if form.father_name.errors %}
                            {{ form.father_name( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.father_name.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.father_name(
                                class="form-control",
                                placeholder="Father's name"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- mother name -->
                    <div class="col-sm-6">
                        {{ form.mother_name.label(class="form-label") }}

                        {% if form.mother_name.errors %}
                            {{ form.mother_name( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.mother_name.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.mother_name(
                                class="form-control",
                                placeholder="Mother's name"
                            ) }}
                        {% endif %}
                    </div>

                </div>


                <div class="row mt-2">

                    <!-- select class -->
                    <div class="col-sm-6">
                        {{ form.applicable_class.label(class="form-label") }}
                        {{ form.applicable_class(class="form-select") }}
                    </div>

                    <!-- phone number -->
                    <div class="col-sm-6">
                        {{ form.phone_number.label(class="form-label") }}

                        {% if form.phone_number.errors %}
                            {{ form.phone_number( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.phone_number.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.phone_number(
                                class="form-control",
                                placeholder="Phone Number"
                            ) }}
                        {% endif %}
                    </div>



                </div>


                <div class="row mt-2">

                    <!-- birth cirtificate no -->
                    <div class="col-sm-6">
                        {{ form.birth_cirtificate_no.label(class="form-label") }}

                        {% if form.birth_cirtificate_no.errors %}
                            {{ form.birth_cirtificate_no( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.birth_cirtificate_no.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.birth_cirtificate_no(
                                class="form-control",
                                placeholder="Birth Cirtificate No"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- brith of date -->
                    <div class="col-sm-6">
                        {{ form.birth_date.label(class="form-label") }}

                        {% if form.birth_date.errors %}
                            {{ form.birth_date( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.birth_date.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.birth_date(
                                class="form-control",
                                placeholder="DD/MM/YY"
                            ) }}
                        {% endif %}
                    </div>

                </div>


                <div class="row mt-2">

                    <!-- address -->
                    <div class="col-sm-6">
                        {{ form.address.label(class="form-label") }}

                        {% if form.address.errors %}
                            {{ form.address( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.address.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.address(
                                class="form-control",
                                placeholder="Address"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- gender -->
                    <div class="col-sm-6">
                        {{ form.gender.label(class="form-label") }}

                        {% if form.gender.errors %}
                            {{ form.gender( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.gender(
                                class="form-control"
                            ) }}
                        {% endif %}
                    </div>

                </div>

                <div class="row mt-2">

                    <!-- care of -->
                    <div class="col-sm-6">
                        {{ form.care_of.label(class="form-label") }}

                        {% if form.care_of.errors %}
                            {{ form.care_of( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.care_of.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.care_of(
                                class="form-control",
                                placeholder="Address"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- zip code -->
                    <div class="col-sm-6">
                        {{ form.zip_code.label(class="form-label") }}

                        {% if form.zip_code.errors %}
                            {{ form.zip_code( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.zip_code.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.zip_code(
                                class="form-control"
                            ) }}
                        {% endif %}
                    </div>

                </div>

                <div class="row mt-2">

                    <!-- email -->
                    <div class="col-sm-6">
                        {{ form.email.label(class="form-label") }}

                        {% if form.email.errors %}
                            {{ form.email( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.email(
                                class="form-control",
                                placeholder="Email"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- transportation service -->
                    <div class="col-sm-6">
                        {{ form.transportation_status.label(class="form-label") }}

                        {% if form.transportation_status.errors %}
                            {{ form.transportation_status( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.transportation_status.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.transportation_status(
                                class="form-control"
                            ) }}
                        {% endif %}
                    </div>

                </div>


                <div class="row mt-2">
            
                    <!-- photo -->
                    <div class="col-sm-6">
                        {{ form.image_file.label(class="form-label") }}

                        {% if form.image_file.errors %}
                            {{ form.image_file( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.image_file.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.image_file(
                                class="form-control"
                            ) }}
                        {% endif %}
                    </div>

                    <!-- signature -->
                    <div class="col-sm-6">
                        {{ form.signature.label(class="form-label") }}

                        {% if form.signature.errors %}
                            {{ form.signature( class="form-control is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.signature.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.signature(
                                class="form-control"
                            ) }}
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5">

                    <p class="text-break ">
                        I agree all the terms and condition and cirtify that all the information I gave above is true. If the authority find any
                        flase information I will accept any dicision that the authority takes.
                    </p>
                </div>

                <div class="d-flex justify-content-end mt-4 mb-3">
                    {{ form.submit(class="btn btn-lg btn-primary") }}
                </div>

            </form>

        </section>

        </div>

    </main>
{% endblock %}