{% extends 'layout.html' %}



{% block additional_title %}
    Admission -
{% endblock %}



{% block additional_link %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='admission/admission.css') }} ">
{% endblock %}



{% block body %}
    
    <!-- <div class="back">
        <button class="button"> Back </button>
    </div> -->

    <main>

        <div class="form_container">
            
            <header>
                <h1 class="school_name">IQRA JUNIOR SCHOOL</h1>
                <h2 class="title">Admission Form - 2020</h2>
            </header>

            <section>
            
                <form action="" method="post" class="grid_admission">
                    {{ form.hidden_tag() }}

                    <div class="form_input" id="name">
                        {{ form.name.label(class="form_label") }}
                        
                        {% if form.name.errors %}
                            {{ form.name( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.name( 
                                class="form_textbox",
                                placeholder="Enter your full name"
                            ) }}
                        {% endif %}
                    </div>
                        
                    <div class="form_input" id="father_name">
                        {{ form.father_name.label(class="form_label") }}
                        
                        {% if form.father_name.errors %}
                            {{ form.father_name( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.father_name.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.father_name( 
                                class="form_textbox",
                                placeholder="Enter your father's name"
                            ) }}
                        {% endif %}
                    </div>

                    <div class="form_input" id="mother_name">
                        {{ form.mother_name.label(class="form_label") }}
                        
                        {% if form.mother_name.errors %}
                            {{ form.mother_name( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.mother_name.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.mother_name( 
                                class="form_textbox",
                                placeholder="Enter your mother's name"
                            ) }}
                        {% endif %}
                    </div>

                    <div class="form_input" id="class">
                        {{ form.applicable_class.label(class="form_label") }}

                        {{ form.applicable_class(class="form_textbox") }}
                    </div>

                    <div class="form_input" id="phone_number">
                        {{ form.phone_number.label(class="form_label") }}

                        {{ form.phone_number(
                            class="form_textbox",
                            placeholder="Phone Number"
                        ) }}
                    </div>

                    <div class="form_input" id="birth_cirtificate">
                        {{ form.birth_cirtificate_no.label(class="form_label") }}
                        
                        {% if form.birth_cirtificate_no.errors %}
                            {{ form.birth_cirtificate_no( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.birth_cirtificate_no.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.birth_cirtificate_no( 
                                class="form_textbox", 
                                placeholder="Birth Cirtificate No"
                            ) }}
                        {% endif %}
                    </div>

                    <div class="form_input" id="birth_date">
                        {{ form.birth_date.label(class="form_label") }}

                        {{ form.birth_date(
                            class="form_textbox",
                            placeholder="DD/MM/YY"
                        ) }}
                    </div>

                    <div class="form_input" id="gender">
                        
                        <p class="form_label"> Gender </p>
                    
                        <span class="checkbox_flex">
                            <div class="form_checkbox">
                                {{ form.male(class="check") }}
                                {{ form.male.label(class="check_option") }}
                            </div>

                            <div class="form_checkbox">
                                {{ form.female(class="check") }}
                                {{ form.female.label(class="check_option") }}
                            </div>
                        </span>

                    </div>

                    <p class="input_title" id="address">
                        Present Address
                    </p>
                    
                    <div class="form_input" id="care_of">
                        {{ form.care_of.label(class="form_label") }}
                        
                        {{ form.care_of(
                            class="form_textbox",
                            placeholder="Care of"
                        ) }}
                    </div>

                    <div class="form_input" id="village">
                        {{ form.village.label(class="form_label") }}
                        
                        {{ form.village(
                            class="form_textbox",
                            placeholder="Village"
                        ) }}
                    </div>

                    <div class="form_input" id="post_office">
                        {{ form.post_office.label(class="form_label") }}
                        
                        {{ form.post_office(
                            class="form_textbox",
                            placeholder="Post Office"
                        ) }}
                    </div>

                    <div class="form_input" id="post_code">
                        {{ form.post_code.label(class="form_label") }}

                        {{ form.post_code(
                            class="form_textbox",
                            placeholder="Post Code"
                        ) }}
                    </div>

                    <div class="form_input" id="upozilla">
                        {{ form.upozilla.label(class="form_label") }}
                        {{ form.upozilla(
                            class="form_textbox",
                            placeholder="Upozilla"
                        ) }}
                    </div>

                    <div class="form_input" id="zilla">
                        {{ form.zilla.label(class="form_label") }}
                        
                        {{ form.zilla(
                            class="form_textbox",
                            placeholder="Zilla"
                        ) }}
                    </div>

                    <div class="form_input" id="region">
                        {{ form.region.label(class="form_label") }}

                        {{ form.region(
                            class="form_textbox",
                            placeholder="Region"
                        ) }}
                    </div>

                    <div class="form_input" id="email">
                        {{ form.email.label(class="form_label") }}

                        {{ form.email(
                            class="form_textbox",
                            placeholder="Email Address"
                        ) }}
                    </div>

                    <div class="form_input" id="photo">
                        {{ form.photo.label(class="form_label") }}

                        {{ form.photo( class="form_textbox" ) }}
                    </div>

                    <div class="form_input" id="signature">
                        {{ form.signature.label(class="form_label") }}

                        {{ form.signature( class="form_textbox" ) }}
                    </div>

                    <div id="agreement">
                        <p>
                            I agree all the terms and condition and cirtify that all the information I gave above is true. If the authority find any
                            flase information I will accept any dicision that the authority takes.
                        </p>
                    </div>

                    <div class="form_button" id="refresh">
                        <input type="reset" value="Refresh" class="submit_button refresh"/>
                    </div>

                    <div class="form_button" id="submit">
                        {{ form.submit( class="submit_button submit" ) }}
                    </div>

                </form>

            </section>
        
        </div>
        
    </main>
{% endblock %}