{%  extends 'layout.html'  %}



{% block help_developer %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
# This Section help you to find specific section. 

	0: head
		0.0: styles
		0.1: fonts


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% endblock %}



{% block body %}

<main class="bg_gray">
    <div class="container">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            home
            </a>
            
            <a href="#" class="list-group-item list-group-item-action">
                Dapibus ac facilisis in
            </a>
            
            <a href="#" class="list-group-item list-group-item-action">
                Morbi leo risus
            </a>
            
            <a href="#" class="list-group-item list-group-item-action">
                Porta ac consectetur ac
    
            </a>
            
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                Vestibulum at eros
            </a>
        </div>
    
    </div>
</main>

{% endblock %}