{% extends 'layout.html' %}




{% block help_developer %}

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
# This Section help you to find specific section. 

	0: head
		0.0: styles
		0.1: fonts

	1: body
		1.0: main
			1.0.0: Background Image
				1.0.0.0: Navigation menu
				1.0.0.1: Events text
				
			1.0.1: All main content 
			

	3: Footer section
		3.0: Using flexbox for three column
			3.0.0: Contact
			3.0.1: Quick link
			3.0.2: Follow us
			
		3.1: copyright and other important thing

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

{% endblock %}




{% block additional_link %}
    <link rel="stylesheet" href=" {{  url_for('static', filename='event/events.css')  }} ">
{% endblock %}




{% block body %}
<header>

    <!-- 1.0.0: Background image -->
    <div class="background-image">

        <!-- 1.0.0.0: Navigation menu -->
        {% include 'plugin/_navigationMenu.html' %}
    
        <!-- 1.0.0.1: Events text -->
        <h2>EVENTS</h2>
        
    </div>

</header>




<main>

    <!-- 1.0.1: All main content -->
    <div class="all-content">

        <div class="events">

            <div class="orientation-2020">

                <div class="text-content">
                    <h2>
                        <span class="date">01</span>
                        JANUARY
                        <span class="year">2020</span> 
                    </h2>

                    <h1>Orientation Class</h1>
                    
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                    
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice1.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />
                </div>

            </div>

            <div class="book-giving">

                <div class="text-content">
                    <h2>
                        <span class="date">01</span>
                        JANUARY
                        <span class="year">2020</span> 
                    </h2>
                
                    <h1>Book Giving Cerimony</h1>
                
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice2.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />
                </div>

            </div>


            <div class="annual-result-2019">

                <div class="text-content">

                    <h2>
                        <span class="date">31</span>
                        December
                        <span class="year">2019</span> 
                    </h2>
                   
                    <h1>Annual Result</h1>
                   
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                   
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice3.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />>
                </div>

            </div>

            <div class="orientation-2020">

                <div class="text-content">
                    <h2>
                        <span class="date">01</span>
                        JANUARY
                        <span class="year">2020</span> 
                    </h2>
                   
                    <h1>Orientation Class</h1>
                   
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                   
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice1.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />
                </div>

            </div>

            <div class="book-giving">

                <div class="text-content">
                    <h2>
                        <span class="date">01</span>
                        JANUARY
                        <span class="year">2020</span> 
                    </h2>
                   
                    <h1>Book Giving Cerimony</h1>
                   
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                   
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice2.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />
                </div>

            </div>


            <div class="annual-result-2019">

                <div class="text-content">

                    <h2>
                        <span class="date">31</span>
                        December
                        <span class="year">2019</span> 
                    </h2>
                  
                    <h1>Annual Result</h1>
                  
                    <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since 
                            the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining 
                            essentially unchanged
                    </p>
                  
                    <button>Read More</button>
                </div>

                <div class="imge-content">
                    <img 
                        src=" {{  url_for('static', filename='home/notice3.jpg')  }} " 
                        alt="Orientation in 2020" 
                    />
                </div>
                
            </div>

        </div>

    </div>



    
</main>


{% endblock %}