{% extends 'layout.html' %}

{% block help_developer %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
# This Section help you to find specific section.

	0: head
		0.0: styles
		0.1: fonts


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% endblock %}



{% block body %}
<div class="custom_form_center_100vh">
    <div class="container text-center">
        <h1> All these routes are available </h1>

        <!--div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
            <a href=" {{ url_for('main.index') }} " class="btn btn-outline-dark"> Home </a>
            <a href=" {{ url_for('users.login') }} " class="btn btn-outline-dark"> Login </a>
            <a href=" {{ url_for('users.login_parents') }} " class="btn btn-outline-dark"> Parents Login </a>
            <a href=" {{ url_for('users.admission') }} " class="btn btn-outline-dark"> Admission </a>
            <a href=" {{ url_for('users.apply_parents') }} " class="btn btn-outline-dark"> Parents Application Form </a>
            <a href=" {{ url_for('users.apply_teacher') }} " class="btn btn-outline-dark"> Teacher Application Form </a>
            <a href=" {{ url_for('main.about') }} " class="btn btn-outline-dark"> About </a>
        </div-->
        <div class="btn-group btn-group-sm mt-3" role="group" aria-label="Small button group">
            <a href=" {{ url_for('student.students') }} " class="btn btn-outline-dark">
                Add Student
            </a>
        </div>

        <br>

        <div class="btn-group btn-group-sm mt-3" role="group" aria-label="Small button group">
            <a href=" {{ url_for('exam.addexam') }} " class="btn btn-outline-dark">
                Add Exam
            </a>

            <a href=" {{ url_for('exam.addexam_subject') }} " class="btn btn-outline-dark">
                Add Exam Subject
            </a>
            <a href=" {{ url_for('exam.addexam_subject_result') }} " class="btn btn-outline-dark">
                Add Subjectwise Result
            </a>
            <a href=" {{ url_for('exam.addexam_student_result') }} " class="btn btn-outline-dark dislabled">
                Add Student Result
            </a>
        </div>
    </div>
</div>
{% endblock %}