<!DOCTYPE html>

<!-- ========================================================================== #
#                           Junior School and College
#                    A School Management System with FLASK
#   
#       Create by some intelligent programmer
#       Full CRUD facility
#   
#       Github: https://github.com/hacker-tesla/Junior_School_and_College
# ========================================================================== -->


<html lang="en">

{% block help_developer %}
{% endblock %}

<head>

    <!-- meta section -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emon Hossain">
    
    <title>
        
        {% block additional_title %}
        {% endblock %}
        
        Junior School and College
        
    </title>

    <!-- link section -->
    <link rel="stylesheet" href=" {{  url_for('static', filename='home/index.css')  }} ">

    {% block additional_link %}
    {% endblock %}


	
</head>



<body>

    {% block body %}

    {% endblock %}


    <!-- 2: Footer section -->
<footer>
    <h1>Junior School and College</h1>

    <!-- 2.0: using flexbox for three column -->
    <div class="three-column">

        <!-- 2.0.0: Contact -->
        <div class="contact">
            
            <div class="location">
                <h3>Location</h3>
                <p>
                    Dummy text,
                    new york
                </p>
            </div>

            <div class="school-time">
                <p>School Time</p>
                
                <div class="summer">
                    <span class="season">Summer:</span>
                    <span class="duration">9.00 AM - 12.00 AM</span>
                </div>

                <div class="winter">
                    <span class="season">Winter:</span>
                    <span class="duration">9.30 AM - 12.30 AM</span>
                </div>

            </div>

        </div>

        <!-- 2.0.1: Quick link -->
        <div class="quick-link">
            <h3>Quick Link</h3>
            
            <div class="home">
                <a href=" {{  url_for('index')  }} ">HOME</a>
            </div>

            <div class="academic">
                <a href=" {{  url_for('academic')  }} ">ACADEMIC</a>
            </div>
            
            <div class="results">
                <a href=" {{ url_for('results') }} ">RESULTS</a>
            </div>
    
            <div class="notice">
                <a href=" {{ url_for('notice') }} ">NOTICE</a>
            </div>
    
            <div class="events">
                <a href=" {{ url_for('events') }} ">EVENTES</a>
            </div>
    
            <div class="admission">
                <a href=" {{ url_for('admission') }} ">ADMISSION</a>
            </div>
    
            <div class="about">
                <a href=" {{ url_for('about') }} ">ABOUT US</a>
            </div>
            
        </div>

        <!-- 2.0.2: Follow us -->
        <div class="follow-us">
            <h3>Follow Us</h3>

            <div class="fb">
                <a href="facebook.com">
                    facebook
                </a>
            </div>

            <div class="fb">
                <a href="twitter.com">
                    twitter
                </a>
            </div>

            <div class="fb">
                <a href="instagram.com">
                    instagram
                </a>
                <a href="instagram.com">
            </div>

            <div class="e-mail">
                <a href="mail.protonmail.com">
                    E-Mail: example.com
                </a>
            </div>

        </div>

    </div>

    <!-- 2.1: copyright and other important thing -->
    <div class="copyright-container">
        <div class="copyright">
            <p>2020 &COPY; All Right Reserved</p>
        </div>

        <div class="mantain-by">
            <p>Develop and Mantain By
                <a href="hpcscienceclub.cf/html/profile.html">
                    Emon Hossain.
                </a>
            </p>
            <p>Ex-Student of Junior School and College, Batch: 000</p>
        </div>
    </div>

</footer>

</body>



</html>