{% extends "layout.html" %}
{% block help_developer %}

 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
	# This Section help you to find 
	  specific section. 

	0: head
		0.0: styles
		0.1: fonts

	1: body
		1.0: main
			1.0.0: Background Image
				1.0.0.0: Navigation men
				1.0.0.1: Notice text
				
			1.0.1: All main content 
			

	3: Footer section
		3.0: Using flexbox for three column
			3.0.0: Contact
			3.0.1: Quick link
			3.0.2: Follow us
			
		3.1: copyright and other important thing

 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

{% endblock %}


{% block body %}
<div class="content-section">
	<div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend>Login</legend>
				<div class="form-group">
					{{form.email.label(class="form-control-label")}}
					{% if form.email.errors %}
						{{form.email(class="form-control-lg is-invalid")}}
						<div class="invalid-feedback"> 
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.email(class="form-control-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{form.password.label(class="form-control-label")}}
					{% if form.password.errors %}
						{{form.password(class="form-control-lg is-invalid")}}
						<div class="invalid-feedback"> 
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.password(class="form-control-lg")}}
					{% endif %}
				</div>
				<div class="form-check">
					{{ form.remember(class="form-check-input")}}
					{{ form.remember.label(class="form-check-label")}}
				</div>
			</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
			</div>
			<small class="text-muted ml-2">
				<a href="#">forgot password?</a>
			</small>
		</form>
	</div>
</div>	
	<div class="border-top pt-3">
		<small class="text-muted">
			havent a account? <a href="{{ url_for('register') }}">Register</a> 
		</small>
	</div>
{% endblock %}