{% extends 'layout.html' %}



{% block additional_title %}
    Admission -
{% endblock %}



{% block additional_link %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='login/login.css') }} ">
{% endblock %}



{% block body %}
    
    <!-- <div class="back">
        <button class="button"> Back </button>
    </div> -->

    <main>

        <div class="form_container">
            
            <header>
                <h1 class="school_name">IQRA JUNIOR SCHOOL</h1>
            </header>

            <section>
        
                <h2 class="title">Login</h2>

                <form action="" method="post" class="grid_login">
                    {{ form.hidden_tag() }}

                    <div class="form_input" id="email">
                        {{ form.email.label(class="form_label") }}
                        
                        {% if form.email.errors %}
                            {{ form.email( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.email( 
                                class="form_textbox",
                                placeholder="Your Email Address"
                            ) }}
                        {% endif %}
                    </div>
                    
                    <div class="form_input" id="email">
                        {{ form.studentID.label(class="form_label") }}
                                               
                        {% if form.studentID.errors %}
                            {{ form.studentID( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.studentID.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.studentID( 
                                class="form_textbox",
                                placeholder="Your studentID Address"
                            ) }}
                        {% endif %}
                    </div>

                    <div class="form_input" id="password">
                        <div class="flex_forgetpass">
                            {{ form.password.label(class="form_label") }}
                            <span class="forget_pass">
                                <a href="#">Forget Password?</a>
                            </span>
                        </div>
                        {% if form.password.errors %}
                            {{ form.password( class="form_textbox is-invalid" ) }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>  {{ error }}   </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.password( 
                                class="form_textbox",
                                placeholder="Your Password"
                            ) }}
                        {% endif %}
                    </div>

                    <div class="form_input">
                        {{ form.remember_me()}}
                        {{ form.remember_me.label()}}
                    </div>

                    <div class="flex_buttons">

                        <div class="form_button" id="create_account">
                            {{ form.create_account( class="submit_button create" ) }}
                        </div>

                        <div class="form_button" id="login">
                            {{ form.login( class="submit_button login" ) }}
                        </div>
                    
                    </div>

                </form>

            </section>

            <div class="addtional_login">
                
                <p>OR</p>
                
                <p class="parents_login">
                    Login as <a href="#"> Admin or Teacher </a>
                </p>

            </div>

            
        </div>
        
    </main>
{% endblock %}