{% extends 'layout.html' %}




{% block help_developer %}
 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >
	# This Section help you to find 
	  specific section. 

	0: head
		0.0: styles
		0.1: fonts

	1: body
		1.0: main
			1.0.0: Background image
				1.0.0.0: Navigation men

			2.0.0: All content

	3: Footer section
		3.0: Using flexbox for three column
			3.0.0: Contact
			3.0.1: Quick link
			3.0.2: Follow us
			
		3.1: copyright and other important thing

 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% endblock %}




{% block additional_link %}
	<link rel="stylesheet" href=" {{ url_for('static', filename='academic/classes.css') }} ">	
{% endblock %}



{% block body %}
<main>

	<!-- 1.0.0: background image -->
	<div class="background-image">

		<!-- 1.0.0.0: Navigation menu -->
		{% include 'plugin/_navigationMenu.html' %}
	
		<h2>ACADEMIC - NURSARY</h2>
		
	</div>
	
	<!-- 2.0.0: all content -->
	<div class="all-content">

		

	</div>

	
</main>
{% endblock %}