{% extends 'layouts/base.html' %}

{% block body %}
<div class="container">
    {% include '_includes/_nav_public.html' %}
</div>

<div class="container mt-md-5 mt-3">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h4 class="fs-2 fw-light mb-5">Apply for admission</h4>
            </div>
            <div>
                <form class="theme-form" action="{{ url_for('admission.student_admission') }}" method="POST"
                    enctype="multipart/form-data">
                    <!-- START - STUDENT INFORMATION -->
                    <div class="row">
                        <div class="col-12">
                            <p class="fs-4">Student Information</p>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Student Name (English)</label>
                                <input type="text" name="student_name_english" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Student Name (বাংলা)</label>
                                <input type="text" name="student_name_bangla" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="apply_class">Apply for class</label>
                                <select class="form-select" name="apply_class" id="apply_class">
                                    <option selected>--- Select Class ---</option>
                                    <option value="play">Play</option>
                                    <option value="nursary">Nursary</option>
                                    <option value="one">One</option>
                                    <option value="two">Two</option>
                                    <option value="three">Three</option>
                                    <option value="four">Four</option>
                                    <option value="five">Five</option>
                                    <option value="six">Six</option>
                                    <option value="seven">Seven</option>
                                    <option value="eight">Eight</option>
                                    <option value="nine">Nine</option>
                                    <option value="ten">Ten</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Date Of Birth</label>
                                <input type="date" name="date_of_birth" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Birth Certificate No</label>
                                <input type="text" name="birth_certificate" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="gender">Gender</label>
                                <select class="form-select" name="gender" id="gender">
                                    <option selected>--- Select Gender ---</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="religion">Religion</label>
                                <select class="form-select" name="religion" id="religion"
                                    aria-label="Default select example" required>
                                    <option selected>Choose...</option>
                                    <option value="islam">Islam</option>
                                    <option value="sonaton">Sonaton</option>
                                    <option value="christian">Christian</option>
                                    <option value="buddhism">Buddhism</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="blood_group">Blood Group</label>
                                <select class="form-select" name="blood_group" id="blood_group"
                                    aria-label="Default select example" required>
                                    <option selected>Choose...</option>
                                    <option value="a+">A +(ve)</option>
                                    <option value="a-">A -(ve)</option>
                                    <option value="b+">B +(ve)</option>
                                    <option value="b-">B -(ve)</option>
                                    <option value="o+">O +(ve)</option>
                                    <option value="ab+">AB + (ve)</option>
                                    <option value="ab-">AB -(ve)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Nationality</label>
                                <input type="text" name="nationality" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="marital_status">Marital status</label>
                                <select class="form-select" name="marital_status" id="marital_status"
                                    aria-label="Default select example" required>
                                    <option selected>--- select one --</option>
                                    <option value="married">Married</option>
                                    <option value="unmarried">Unmarried</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- END - STUDENT INFORMATION -->

                    <!-- START - PARENT'S INFORMATION -->
                    <div class="row mt-2">
                        <div class="col-12 mt-5">
                            <p class="fs-4">Parent's Information</p>
                        </div>

                        <div class="col-md-6">
                            <!-- FATHER INFORMATION -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Father Name English</label>
                                        <input type="text" name="father_name_english" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Father Name (বাংলা)</label>
                                        <input type="text" name="father_name_bangla" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Father Mobile No</label>
                                        <input type="text" name="father_mobile" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Father NID/Pasport</label>
                                        <input type="text" name="father_nid" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- MOTHER INFORMATION -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Mother Name (English)</label>
                                        <input type="text" name="mother_name_english" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Mother Name (বাংলা)</label>
                                        <input type="text" name="mother_name_bangla" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Mother Mobile No</label>
                                        <input type="text" name="mother_mobile" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Mother Nid/ Pasport</label>
                                        <input type="text" name="mother_nid" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END - PARENT'S INFORMATION -->


                    <div class="row mt-4">
                        <!-- START - PRESENT ADDRESS -->
                        <div class="col-md-6">

                            <div class="mt-5">
                                <p class="fs-4">Present Address</p>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_address"> Address</label>
                                <textarea name="present_address" id="present_address" class="form-control" rows="3"
                                    required></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_division">Division</label>
                                <input type="text" id="present_division" name="division" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_district">District/Zilla</label>
                                <input type="text" id="present_district" name="district" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_upazilla">Upazilla</label>
                                <input type="text" id="present_upazilla" name="upazilla" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_post_office">Post Office</label>
                                <input type="text" id="present_post_office" name="post_office" class="form-control"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="present_post_code">Post Code</label>
                                <input type="text" id="present_post_code" name="post_code" class="form-control"
                                    required>
                            </div>

                        </div>
                        <!-- END - PRESENT ADDRESS -->
                        <!-- START - PARMANENT ADDRESS -->
                        <div class="col-md-6">
                            <div class="mt-4">
                                <p class="fs-4 m-0">Permanent Address</p>
                            </div>

                            <div class="form-check form-switch me-2">
                                <input type="checkbox" class="form-check-input checkbox" role="switch"
                                    id="same_as_present">
                                <label class="form-check-label" for="same_as_present">
                                    same as present address</label>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_address">Address</label>
                                <textarea name="permanent_address" id="permanent_address" class="form-control"
                                    rows="3"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_division">Division</label>
                                <input type="text" id="permanent_division" name="division" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_district">District/Zilla</label>
                                <input type="text" id="permanent_district" name="district" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_upazilla">Upazilla</label>
                                <input type="text" id="permanent_upazilla" name="upazilla" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_post_office">Post Office</label>
                                <input type="text" id="permanent_post_office" name="post_office" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="permanent_post_code">Post Code</label>
                                <input type="text" id="permanent_post_code" name="post_code" class="form-control">
                            </div>
                        </div>
                        <!-- END - PARMANENT ADDRESS -->
                    </div>


                    <!-- START - Guardian Information -->
                    <div class="row mt-2">
                        <div class="col-12 mt-5">
                            <p class="fs-4">Guardian Information</p>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Guardian Name</label>
                                <input type="text" name="guardian_name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Raltionship</label>
                                <input type="text" name="raltionship" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Guardian Mobile</label>
                                <input type="text" name="guardian_mobile" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Occupation</label>
                                <input type="text" name="guardian_occupation" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- END - Guardian Information -->

                    <!-- START - PREVIOUSE ACADEMIC INFO -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="fs-4">
                                Previouse Institute Information
                                <span class="fs-sm text-warning">(If applicable)</span>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Institute Name</label>
                                    <input type="text" name="institute" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Institute Address</label>
                                    <input type="text" name="institute" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Passing Year</label>
                                    <input type="text" name="year" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Previouse Roll</label>
                                    <input type="text" name="roll" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Class</label>
                                    <input type="text" name="class" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- START - PREVIOUSE ACADEMIC INFO -->

                    <!-- START - IMAGES -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="photo">Photo</label>
                                <input class="form-control" name="photo" type="file">
                            </div>
                        </div>
                    </div>
                    <!-- END - IMAGES -->
                    <div class="form-group mb-0">
                        <div class="checkbox p-0">
                            <input id="agree_tos" type="checkbox">
                            <label for="agree_tos">
                                Agree with <a class="ms-2" href="#">Terms of service</a> and <a class="ms-2"
                                    href="#">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Apply For Admission</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block page_js %}
<script>
    document.getElementById('same_as_present').addEventListener('change', function () {
        const fields = ['address', 'division', 'district', 'upazilla', 'post_office', 'post_code'];
        if (this.checked) {
            fields.forEach(field => {
                document.getElementById(`permanent_${field}`).value = document.getElementById(`present_${field}`).value;
            });
        } else {
            fields.forEach(field => {
                document.getElementById(`permanent_${field}`).value = '';
            });
        }
    });

</script>
{% endblock page_js %}