.custom_form_center {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-small {
    width: 30rem;
}

.form-large {
    width: 60rem;
}

/* .row {
    background-color: red !important;
} */