<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TAQWA EDMS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap5/css/bootstrap.min.css') }}">

        {% block page_css %}
        {% endblock page_css %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}



        <script src="{{ url_for('static', filename='assets/bootstrap5/js/bootstrap.min.js') }}"></script>
        {% block page_js %}
        {% endblock page_js %}
    </body>
</html>